{% extends "notes/base.html" %}

{% block nav %}
{% if user.is_authenticated %}
<ul class="navbar-nav">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'add_notes' %}" style="color: rgb(20, 220, 193);"><i class="fa fa-plus" aria-hidden="true" ></i>Add Post</a>
        </li>
    <li class="nav-item ">
        <a type="button" class="nav-link" href="{% url 'notification' %}" style="color: #fafafa;">
            <i class="fa fa-bell"></i> Notifications <span class="badge badge-danger" style="color: rgb(255, 255, 255);">{{ user.to_user_set.count }}</span>
          </a>
    </li>
    
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'profile' %}" style="color: rgb(20, 213, 220);"><img src="{{ user.profile.profile_pic.url }}" alt="{{ user.profile.profile_pic.url }}" width="35" height="35" class="rounded-circle"> Profile</a>
        </li>
    <li class="nav-item active">
    <a class="nav-link" href="{% url 'user_logout' %}" style="color: rgb(20, 220, 63);"><i class="fa fa-sign-out" aria-hidden="true" ></i>Logout</a>
    </li>
</ul>

{% endif %}
{% endblock %}

{% if user.is_authenticated %}
{% block content %}
<section class="about-section " style="margin-top: 5rem;">
    <p >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Phasellus egestas tellus rutrum tellus pellentesque. Ultricies leo integer malesuada nunc. Fringilla ut morbi tincidunt augue interdum. Quam lacus suspendisse faucibus interdum posuere lorem. Risus commodo viverra maecenas accumsan lacus. Iaculis eu non diam phasellus. Et netus et malesuada fames ac. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Ipsum consequat nisl vel pretium lectus quam. Purus non enim praesent elementum facilisis. A diam sollicitudin tempor id eu nisl nunc mi ipsum. Ut pharetra sit amet aliquam id diam. Et ligula ullamcorper malesuada proin.

Vitae congue eu consequat ac felis donec et. Ut porttitor leo a diam sollicitudin tempor id eu. Faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Est ullamcorper eget nulla facilisi etiam. Ipsum consequat nisl vel pretium lectus quam. Dui vivamus arcu felis bibendum ut tristique. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Amet tellus cras adipiscing enim eu turpis. Interdum velit euismod in pellentesque. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. In dictum non consectetur a erat nam at lectus urna. In hac habitasse platea dictumst quisque sagittis purus.
    </p>
</section>
{% endblock %}
{% else %}
{% block home %}
<section class="about-section " style="margin-top: 5rem;">
    <p >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Phasellus egestas tellus rutrum tellus pellentesque. Ultricies leo integer malesuada nunc. Fringilla ut morbi tincidunt augue interdum. Quam lacus suspendisse faucibus interdum posuere lorem. Risus commodo viverra maecenas accumsan lacus. Iaculis eu non diam phasellus. Et netus et malesuada fames ac. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Ipsum consequat nisl vel pretium lectus quam. Purus non enim praesent elementum facilisis. A diam sollicitudin tempor id eu nisl nunc mi ipsum. Ut pharetra sit amet aliquam id diam. Et ligula ullamcorper malesuada proin.

Vitae congue eu consequat ac felis donec et. Ut porttitor leo a diam sollicitudin tempor id eu. Faucibus et molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Ultrices gravida dictum fusce ut placerat orci nulla pellentesque. Est ullamcorper eget nulla facilisi etiam. Ipsum consequat nisl vel pretium lectus quam. Dui vivamus arcu felis bibendum ut tristique. At erat pellentesque adipiscing commodo elit at imperdiet dui accumsan. Amet tellus cras adipiscing enim eu turpis. Interdum velit euismod in pellentesque. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. In dictum non consectetur a erat nam at lectus urna. In hac habitasse platea dictumst quisque sagittis purus.
    </p>
</section>
{% endblock %}

{% endif %}