{% extends "notes/base.html" %}

{% block home %}
    <div class="container" style="margin-top: 10rem;">
        <h2>Share Notes & Share Knowledge</h2>
        <p>Take notes whatever you feel important and  learn everything you can without losing any materials. </p>
        <p>Share whatever you learnt with everyone so they can also learn from you..</p>
        <a href="{% url 'user_register' %}" class="register">Register</a>
        <a href="{% url 'user_login' %}" class="login" style="margin-left:8px;">Login</a>
    </div>
{% endblock %}