{% extends "notes/base.html" %}
{% block home %}
<section class="auth-section">
	<div class="card" style="background: rgba(255, 255, 255, 0.2);width: 40rem;height:20rem;border-radius: 25px;
	display: flex;justify-content: center;align-items: center;">
		<div class="container" style="width: 20rem;padding: 30px; ">
		<div class="card-content" >
			<h3 class="mb-4" style="color: #000000;text-align: center;font-size:35px;font-weight:light;">Login </h3>
			<form action="{% url 'user_login' %}" method="POST" >
				{% csrf_token %}
				<div class="input-group flex-nowrap mb-4">
					
					<input type="text" class="form-control" name="username" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
				</div>
				  <div class="input-group flex-nowrap mb-4">
					
					<input type="password" class="form-control" placeholder="Password" name="password" aria-label="Username" aria-describedby="addon-wrapping">
				  </div>
				  <button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
	</div>
	</div>
</section>
{% endblock %}