{% extends "notes/base.html" %}

{% block head %}
<style>
    .close{
        cursor: pointer;
        position: absolute;
        right: 0;
    }
</style>
{% endblock %}

{% block content %}
    <section style="margin-top: 4.2rem;">
    <div class="card" style="max-height: 50rem;overflow-y: scroll;" id="notify">
        <div class="card-title">
            <h3 style="text-align: center;">Notifications <span class="badge badge-danger" style="color: rgb(255, 255, 255);">{{ user.to_user_set.count }}</span></h3>
            <a class="btn btn-outline-danger" href="{% url 'notify-removeall' %}" style="position:absolute;top:0;right: 0;">Clear</a>
            <hr >
        </div>
        
        <div class="card-content">
            {% for notif in notifis %}
                {% if notif.liked %}
                <ul class="list-group list-group-flush" >

                    <li class="list-group-item" style="display: inline-block;">
                        <small style="position: absolute;top: 0;right: 0;">{{ notif.date}}</small>
                        <span style="position: absolute;top: 25%;right: 1%;"><a class="btn btn-outline-danger" href="{% url 'notify-remove' notif.pk %}" ><i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i></a></span>
                        <p><img src="{{ notif.from_user.profile.profile_pic.url }}" height="50px" class="rounded-bg">
                              <b style="font-size: 20px;"><a href="{% url 'profile' notif.from_user.pk %}">{{ notif.from_user.username }}</a></b>  liked  <b style="font-size: 20px;"><a href="#">{{ notif.notes.title }}</a></b></p></li>

                </ul>
                {% elif notif.unliked %}
                <ul class="list-group list-group-flush" >

                    <li class="list-group-item" style="display: inline-block;">
                        <small style="position: absolute;top: 0;right: 0;">{{ notif.date}}</small>
                        <span style="position: absolute;top: 25%;right: 1%;"><a class="btn btn-outline-danger" href="{% url 'notify-remove' notif.pk %}" ><i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i></a></span>
                        <p><img src="{{  notif.from_user.profile.profile_pic.url }}" height="50px" class="rounded-bg">
                              <b style="font-size: 20px;"><a href="{% url 'profile' notif.from_user.pk %}">{{ notif.from_user.username }}</a></b>  unliked  <b style="font-size: 20px;"><a href="#">{{ notif.notes.title }}</a></b></p></li>

                </ul>
                {% elif notif.followed %}
                <ul class="list-group list-group-flush" >

                    <li class="list-group-item" style="display: inline-block;">
                        <small style="position: absolute;top: 0;right: 0;">{{ notif.date}}</small>
                        <span style="position: absolute;top: 25%;right: 1%;"><a class="btn btn-outline-danger" href="{% url 'notify-remove' notif.pk %}" ><i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i></a></span>
                        <p><img src="{{ notif.from_user.profile.profile_pic.url }}" height="50px" class="rounded-bg">
                              <b style="font-size: 20px;"><a href="{% url 'profile' notif.from_user.pk %}">{{ notif.from_user.username }}</a></b>  followed you </p></li>

                </ul>
                {% elif notif.unfollowed %}
                <ul class="list-group list-group-flush" >

                    <li class="list-group-item" style="display: inline-block;">
                        <small style="position: absolute;top: 0;right: 0;">{{ notif.date}}</small>
                        <span style="position: absolute;top: 25%;right: 1%;"><a class="btn btn-outline-danger" href="{% url 'notify-remove' notif.pk %}" ><i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i></a></span>
                        <p><img src="{{  notif.from_user.profile.profile_pic.url }}" height="50px" class="rounded-bg">
                              <b style="font-size: 20px;"><a href="{% url 'profile' notif.from_user.pk %}">{{ notif.from_user.username }}</a></b>  unfollowed you </p></li>

                </ul>
                {% elif notif.new_notes %}
                <ul class="list-group list-group-flush" >

                    <li class="list-group-item" style="display: inline-block;">
                        <small style="position: absolute;top: 0;right: 0;">{{ notif.date}}</small>
                        <span style="position: absolute;top: 25%;right: 1%;"><a class="btn btn-outline-danger" href="{% url 'notify-remove' notif.pk %}" ><i class="fa fa-times" aria-hidden="true" style="font-size: 20px;"></i></a></span>
                        <p><img src="{{  notif.from_user.profile.profile_pic.url }}" height="50px" class="rounded-bg">
                              <b style="font-size: 20px;"><a href="{% url 'profile' notif.from_user.pk %}">{{ notif.from_user.username }}</a></b>  created a new notes  <b style="font-size: 20px;"><a href="{% url 'notes-detail' notif.notes.pk %}">{{ notif.notes.title }}</a></b></p></li>

                </ul>
                {% else %}
                {% endif %}
            {% endfor %}

        </div>
        
    </section>


{% endblock %}