{% extends "notes/base.html" %}

{% load crispy_forms_tags %}
{% block home %}
        <div class="card" style="background: rgba(255, 255, 255, 0.2);;width: 40rem;height:40rem;border-radius: 25px;
            display: flex;justify-content: center;align-items: center;">
                <div class="container" style="width: 20rem;padding: 30px; ">
                <div class="card-content" >
                    <h3 style="color: #000000;text-align: center;font-size:35px;font-weight:light;" class="mb-3">Register</h3>
                    <form action="{% url 'user_register' %}" method="POST" >
                        {% csrf_token %}
                         {% for field in form %}
                            <p>
                            <br>
                            {{ field }}
                            
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                            </p>
                        {% endfor %}
                        
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}